@media only screen and (min-width: 600px) {
    #Wrapper {
        grid-template-rows: repeat(50, 5vw);
    }

    #Wrapper .expenses-container {
        grid-column-start: 1;
        grid-column-end: 7;
        grid-row-start: 1;
        grid-row-end: 3;
        color: #fff;
    }

    .date-status{
        font-weight: 400;
        font-size: 1.7rem;
    }

    .expenses, .limit {
        font-weight: 300;
        font-size: 5rem;
        text-align: right;
        margin-top: 0em;
    }


    #Wrapper .limit-container {
        grid-column-start: 7;
        grid-column-end: 13;
        grid-row-start: 1;
        grid-row-end: 3;
        color: #fff;
    }

    #Wrapper .transactions-container {
        grid-column-start: 1;
        grid-column-end: 13;
        grid-row-start: 3;
        grid-row-end: 13;
    }

    .t .transactions-table {
        width: 100%;
        text-align: left;
        color: #757575;
    }

}


@media screen and (min-width: 1650px) {
    #navbar {
        padding: 0 1em;
        height: 7vh;
        display: block;
        position: fixed;
        background: #303c50;
        
    }

    #navbar h1 {
        display: inline-block;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        color: #fff;
    }

    #navbar .hamburger-menu-btn {
        display: none;
    }

    .sidebar {
        width: 16%;
        height: 93vh;
        bottom: 0;
        left: 0;
        top: 7vh;
        background-color: #3c4b64;
        box-shadow: 4px 0px 2px -2px rgba(0, 0, 0, 0.1);
        transform: translate3d(0, 0, 0);
    }

    .sidebar-menu {
        top: 0;
        transform: translate(0);
        list-style-type: none;
        width: 100%;
        padding: 1em 0;
    }


    .sidebar-item-link:hover:not(.active) {
        transform: translateX(1.5em);
    }

    .lock-scroll {
        overflow: auto;
    }

    .close-btn-line:nth-child(3){
        background-color: #444;
    }

    .close-btn-line:nth-child(1){
        background-color: #444;
    }


    .transaction-modal {
        width: 30%;
        height: 70vh;
    }


    #Wrapper {
        margin: 0;
        margin-top: 7vh;
        width: 84%;
        margin-left: 16%;
        padding: 2em 2em;
        grid-template-rows: repeat(11, 5vw);
    }

    #Wrapper .expenses-container {
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 3;
        color: #fff;    
    }

    
    #Wrapper .limit-container {
        grid-column-start: 4;
        grid-column-end: 7;
        grid-row-start: 1;
        grid-row-end: 3;
        color: #fff;
    }

    #Wrapper .transactions-container {
        grid-column-start: 7;
        grid-column-end: 13;
        grid-row-start: 1;
        grid-row-end: 5;
    }

    .transactions-container th {
        font-size: 0.8rem;
    }
    

    #Wrapper .all-transactions-container {
        grid-column-start: 3;
        grid-column-end: 11;
    }


    #Wrapper .line-chart-container {
        grid-column-start: 1;
        grid-column-end: 7;
        grid-row-start: 3;
        grid-row-end: 7;
    }

    #Wrapper .pie-graph-container {
        grid-column-start: 1;
        grid-column-end: 7;
        grid-row-start: 7;
        grid-row-end: 12;
    }

    #Wrapper .pie-graph-container2 {
        grid-column-start: 7;
        grid-column-end: 13;
        grid-row-start: 5;
        grid-row-end: 10;
    }

    #Wrapper .quick-settings-container {
        grid-column-start: 7;
        grid-column-end: 13;
        grid-row-start: 10;
        grid-row-end: 12;
    }

    #Wrapper .add-transaction-container {
        grid-column-start: 5;
        grid-column-end: 9;
    }
}