@media screen and (min-width: 920px) {
    #Wrapper {
        width: 70%;
        margin: 0 auto;
        margin-top: 3em;
    }
    
    #Wrapper h1 {
        display: block;
        text-align: center;
    }

    .container {
        width: 30%;
        margin: 0 auto;
        margin-top: 5em;
        text-align: left;
        color: #444;
    }

    .sidebar {
        width: 20%;
    }

    .lock-scroll {
        overflow: auto;
    }

    .close-btn-line:nth-child(3){
        background-color: #444;
    }

    .close-btn-line:nth-child(1){
        background-color: #444;
    }
    
}