@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');


*, *:before, *:after {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #666;
}

input[type="text"],
input[type="number"],
input[type="date"],
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 1px solid #dedede;
    border-radius: 2px;
    display: block;font-weight: 300;
    font-size: 1rem;
    padding: 10px;
    width: 100%;
}

input[type="text"]:focus,
input[type="number"]:focus,
input[type="date"]:focus,
select:focus {
    outline: 1px solid #d3d3d3;
}

select {
    background-color: #fff;
}

html {
    height: 100%;
}

body {
    background-color: #f7f7f7;
    color: #666;
    line-height: 1.6;
    width: 100%;
    height: 100%;
    font-family: 'Lato', sans-serif;
}

.lock-scroll {
    overflow: hidden;
}

.margin-top-small {
    margin-top: 1em !important;
}

.alert {
    margin-bottom: 2em;
    padding: 1em;
    border-radius: 2px;
    display: none;
    color: #fff;
    font-weight: 500;
}

.alert-success {
    display: block;
    background-color: #85e085;
    border: 1px solid #33cc33;
}

.alert-error {
    display: block;
    background-color: #ff4d4d;
    border: 1px solid #ff1a1a;
}

.show-element {
    display: block;
}

.hide-text {
    display: none;
}



/*  NAVBAR  */

#navbar {
    padding: 0 1em;
    z-index: 4;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 8vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #303c50;;
    box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.1);
}

#navbar h1{
    flex: 11;
    text-align: left;
    font-size: 1.5rem;
    color: #fff;
    font-weight: 500;
}

.hamburger-menu-btn {
    position: relative;
    flex: 1;
    cursor: pointer;
    z-index: 10;
    -webkit-transition: 0.3s ease-out;
    -o-transition: 0.3s ease-out;
    -moz-transition: 0.3s ease-out;
    transition: 0.3s ease-out;
}

.line {
    width: 20px;
    height: 3px;
    margin: 0 0 4px 0;
    background-color: #fff;
    -webkit-transition: 0.3s ease-out;
    -o-transition: 0.3s ease-out;
    -moz-transition: 0.3s ease-out;
    transition: 0.3s ease-out;
}

.line:last-child {
    margin: 0;
}

.close-btn {
    transform: rotate(180deg);
    transform: translate(0, -5px);
}

.close-btn-line:nth-child(1){
    transform: rotate(45deg) translate(10px, 10px);
    background-color: #fff;
}

.close-btn-line:nth-child(2){
    opacity: 0;
}

.close-btn-line:nth-child(3){
    transform: rotate(-45deg);
    background-color: #fff;
}






/*  SIDEBAR   */

.sidebar {
    position: fixed;
    top: 8vh;
    left: 0;
    bottom: 0;
    width: 70%;
    z-index: 5;
    overflow: hidden;
    background-color: #3c4b64;
    box-shadow: 4px 0px 2px -2px rgba(0, 0, 0, 0.1);
    -webkit-transition: 0.3s ease-out;
    -o-transition: 0.3s ease-out;
    -moz-transition: 0.3s ease-out;
    transition: 0.3s ease-out;
    transform: translate3d(-100%, 0, 0);
}

.sidebar-menu {
    list-style-type: none;
    width: 100%;
}

.sidebar-menu-item {
    margin: 0;
    text-align: left;
}

.sidebar-item-link {
    display: block;
    padding: 1em 0em;
    color: #fff;
    font-size: 0.9rem;
    font-weight: 300;
    text-transform: uppercase;
    transition: 0.3s ease-out;
}

.sidebar-icon {
    display: inline;
    margin-right: 1em;
    margin-left: 2em;
}

.active {
    transform: translateX(1.5em);
    background: none;
    -webkit-background-clip: none;
    -webkit-text-fill-color: #fff;
}

.show {
    transform: translate3d(0, 0, 0);
}

.lightMenu {
    background-color: #fff !important;
}

.lightColor {
    color: #666 !important;
}

.lightActive {
    -webkit-text-fill-color: #666 !important;
}


/*  MODAL   */ 

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 15;
    padding: 1em;
}

.transaction-modal {
    position: absolute;
    width: 95%;
    top: 50%;
    left: 50%;
    height: 80vh;
    border-radius: 2px;
    transform: translate(-50%, -50%);
    background-color: #fff;
}

.modal-body {
    padding: 4em 1em 1em 1em;
}

.modal-body input, .modal-body select {
    margin: 0.5em 0 1em 0;
}

.modal-close-btn {
    position: absolute;
    right: 5%;
    top: 1%;
    cursor: pointer;
    font-weight: bold;
    color: #666;
    font-size: 1.6rem;
}

.modal-body .controls {
    width: 100%;
    text-align: right;
    padding: 1em 0;
}

.modal-body .controls .btn {
    display: inline-block;
    padding: 0.5em 0.7em;
    border-radius: 2px;
    color: #fff;
    cursor: pointer;
}

.modal-body .edit-btn {
    background-color: #6666ff;
    margin-right: 0.3em;
}

.modal-body .delete-btn {
    background-color: #e55353;
}


/*  WRAPPER   */

#Wrapper {
    width: 100%;
    margin-top: 10vh;
    padding: 0 1em;
    transition: 0.3s ease-out;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(53, 5vw);
    grid-gap: 10px;
}

.container {
    border-radius: 2px;
    padding: 1em;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.sm-hide {
    display: none;
}


/*  EXPENSES CONTAINER  */

#Wrapper .expenses-container {
    background: linear-gradient(45deg,#f9b115 0%,#f6960b 100%);
    grid-column-start: 1;
    grid-column-end: 13;
    grid-row-start: 1;
    grid-row-end: 7;
    color: #fff;
    position: relative;
}

.container-header{
    font-weight: 300;
    font-size: 1.3rem;
}

.container-amount {
    position: absolute;
    right: 0;
    margin-right: 0.2em;
    bottom: 0;
    
    font-weight: 300;
    font-size: 4rem;
}


/*  LIMIT CONTAINER */

#Wrapper .limit-container {
    background: linear-gradient(45deg,#e55353 0%,#d93737 100%);
    grid-column-start: 1;
    grid-column-end: 13;
    grid-row-start: 7;
    grid-row-end: 13;
    color: #fff;
    position: relative;
}



/*  TRANSACTIONS CONTAINER  */

#Wrapper .transactions-container {
    grid-column-start: 1;
    grid-column-end: 13;
    grid-row-start: 13;
    grid-row-end: 24;
    position: relative;
}

.transactions-table {
    width: 100%;
    text-align: left;
    color: #757575;
}

.transactions-table th {
    font-weight: 500;
    text-transform: uppercase;
}

.transactions-table td, .transactions-table th {
    padding: 0.9em 0.5em;
}

.transactions-table tr {
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.transactions-table tr:hover:not(.head){
    background-color: rgba(0,0,0,.05);
}

.transactions-table td {
    cursor: pointer;
    font-size: 0.9rem;
}

.transactions-table .status {
    width: 80%;
    padding: 0.4em 1em;
    text-align: center;
    border-radius: 2px;
    color: #fff;
    
}

.transactions-table .status-red {
    background-color: #e55353;
}

.transactions-table .status-success {
    background-color: #85e085;
}

.transactions-container .controls {
    text-align: center;
    position: absolute;
    bottom: 5%;
    right: 5%;
}

.transactions-container .controls .show-btn {
    padding: 0.4em 0.5em;
    border-radius: 2px;
    color: #666;
    font-weight: 600;
    font-size: 0.8rem;
    text-transform: uppercase;
}



/*  ALL TRANSACTIONS CONTAINER  */

#Wrapper .all-transactions-container {
    grid-column-start: 1;
    grid-column-end: 13;
    grid-row-start: 5;
}

.sort-container {
    grid-column-start: 1;
    grid-column-end: 13;
    grid-row-start: 1;
    grid-row-end: 5;
    width: 100%;
}

.sorting-options {
    padding: 0.5em 1em;
}

.sorting-options .option {
    font-size: 0.9rem;
    color: #757575;
    font-weight: 500;
    cursor: pointer;
    margin: 0.4em 0
}

/*  ADD TRANSACTIONS CONTAINER  */

.override-row-repeat {
    grid-template-rows: none !important;
}

#Wrapper .add-transaction-container {
    grid-column-start: 1;
    grid-column-end: 13;
}

.add-transaction-container .form-container {
    margin-top: 1em;
}

.form-container label {
    display: block;
    margin: 0.5em 0;
    font-weight: 500;
}


.add-transaction-btn {
    cursor: pointer;
    background-color: #6666ff;
    border-radius: 2px;
    color: #fff;
    border: 0;
    display: block;
    margin: 2em 0;
    padding: 0.7em;
    width: 100%;
    font-weight: 600;
    text-align: center;
    -moz-transition: 0.3s ease-out;
    -o-transition: 0.3s ease-out;
    -webkit-transition: 0.3s ease-out;
    transition: 0.3s ease-out;
}

.add-transaction-btn:hover {
    background-color: #4d4dff;
}





/*  LINE CHART CONTAINER    */

#Wrapper .line-chart-container {
    grid-column-start: 1;
    grid-column-end: 13;
    grid-row-start: 24;
    grid-row-end: 34;
    display: flex;
    flex-direction: column;
    
}



/*  CHARTS  */

.chart-header {
    flex: 1;
}

.chart-header h2 {
    font-weight: 500;
    padding-left: 1em;
}


.graph {
    border-radius: 4px;
    border: 1px solid #d3d3d3;
    padding: 0.5em 1em;
    width: 100%;
    height: 100%;
    flex: 11;
}

.graph .graph-text {
    font-size: 0.8rem;
    fill: #757575;
    font-weight: 500;
}

.graph .grid {
    stroke: #d3d3d3;
    stroke-dasharray: 0;
  }

.graph .x-grid {
    stroke-width: 2;
}

.x-grid .dashed {
    stroke-width: 1;
    stroke-dasharray: 5;
}

.graph .y-grid {
    stroke-width: 1;
}

.graph .graph-circle {
    stroke: #5A91D1;
    stroke-width: 3;
    fill: #fff;
}

.graph .connection {
    stroke-width: 3;
    stroke: #5A91D1;
}

.graph circle {
    cursor: pointer;
    position: relative;
}

.lineColor {
    stroke: #6666ff !important;
}

.barColor {
    fill: #2196F3 !important;
}



/*  PIE GRAPH 2 CONTAINER   */

#Wrapper .pie-graph-container2 {
    grid-column-start: 1;
    grid-column-end: 13;
    grid-row-start: 34;
    grid-row-end: 44;
    display: flex;
    flex-direction: column;
}

.pie-graph-container2 .bar {
    width: 10%;
    fill: #1960A1;
    cursor: pointer;
}





/*  QUICK SETTINGS CONTAINER    */

#Wrapper .quick-settings-container {
    grid-column-start: 1;
    grid-column-end: 13;
    grid-row-start: 44;
    grid-row-end: 53;
}

.settings .settings-seperator {
    margin: 0.9em 0;
}

.settings .setting {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    padding-left: 1.5em;
    margin: 0.5em 0;
}

.setting .setting-description {
    flex: 11;
    font-weight: 300;
    font-size: 0.9rem;
    color: #757575;
}

.setting .toggle {
    flex: 1;
}

.toggle .switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 30px;
}

.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}
  
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 22px;
    width: 22px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.limit-setting {
    flex: 10;
}

.setting .input {
    flex: 2;
    padding-right: 0.3em;
}

.input input[type="text"]{
    font-size: 0.8rem;
}

    .links-container {
        grid-column-start: 1;
        grid-column-end: 13;
    }

    .links-container a{
        text-decoration: underline;
        color: blue;
    }